body {
	font-family: Roboto;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #283136;
	background: #ffffff;
}

h1 {
	font-family: Roboto;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	color: #000000;
}

h2 {
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	color: #000000;
}
/*центровщик*/
.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
/*верхнее меню*/
header {
	height: 90px;
	background-color: #eeeeee;
}

.main-header {
	display: flex;
	padding-top: 35px;
}

.flex-item {
	display: flex;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #eeeeee;
}

ul {
	display: flex;
	list-style-type: none;
	padding-left: 145px;
}

li {
	padding-left: 45px;
}

.shopping-basket {
	margin: 16px 0;
	padding-left: 90px;
	font-family: Roboto Medium;
	font-size: 14px;
	line-height: 30px;
	color: black;
	font-weight: bold;
}

.shopping-basket a {
	color: black;
	text-decoration: none;
}

.main-navigation li {
	font-family: Roboto Medium;
	font-size: 14px;
	line-height: 30px;
	color: black;
	font-weight: bold;
}

.main-navigation li a {
	color: black;
	text-decoration: none;
}
/*часть сайта со слайдером*/
.advantages {
	display: flex;
	width: 900px;
	height: 345px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	
}
/*часть сайта о видах услуг*/
.features-flex {
	display: flex;
	width: 900px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.features-item {
	padding-right: 80px;
	height: 380px;
	
}
/*часть сайта с описанием кто представляет услуги*/
.about-us {
	display: flex;
	margin-top: 70px;
	font-family: Roboto Medium;
	font-size: 16px;
	line-height: 22px;
	color: black;
	font-weight: bold;
}

.about-us-right {
	width: 250px;
}

.about-us-left {
	width: 650px;
}

.about-us-left ul {
	flex-direction: column;
	padding-bottom: 30px;
}

 .about-us-right ul {
	flex-direction: column;
	padding-left: 0px;
}

.about-us-right li {
	padding-bottom: 20px;
}

.about-us-left li {
	padding-bottom: 20px;
}
/*часть сайта с логотипами сайтов*/
.site-logo {
	display: flex;
	width: 900px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 100px;
}

.site-logo a img {
	margin-right: 100px;
}
/*часть сайта с контактными данными*/
.contacts {
	background-image: url(/img/contacts/Прямоугольник 1.png);
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.map {
	
}

/*section .contacts {
	position: relative;
	width: 100%;
}

.contacts {
	width: 100%;
}

.map {
	padding-top: 90px;
	padding: 0 auto;
}

div.contacts {
	position: absolute;
	bottom: 90px;
	left: 160px;
	background-color: white;
	width: 240px;
	height: 230px;
}*/
/*???здесь не могу понять, как его поставить на карту???
div .mapmaker {
	position: absolute;
    bottom: 120px;
	left: 845px;
    width: 231px;
    height: 190px;
    background-image: url('/img/contacts/Layer 28.png');
}*/

/*верхняя часть на странице каталога с миниатюрами готовых макетов*/
body .welcome {
	width: 100%;
}

.welcome {
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #eeeeee;
}

.welcome h1 {
	padding-left: 120px;
	padding-right: 120px;
	text-align: center;
}

/*основное на страничке с миниатюрами готовых макетов*/
.flex-continer {
	display: flex;
	width: 900px;
	height: ;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}
 
.flex-continer aside {
	display: flex;
	flex-direction: column;
	min-width: 240px; 
}

label {
	display: flex;
	flex-direction: column;
}

section .content {
	display: flex;
	width: 100%;
}

article img {
	padding: 20px;
}
/*нижняя часть сайта*/
.footer-flex {
	display: flex;
	margin-bottom: 70px;
}

.footer-social ul {
	padding-left: 10px;
	padding-top: 70px;
	margin-right: 10px;
}

.a-discount h2 {
	font-family: Roboto Medium;
	font-size: 36px;
	line-height: 36px;
	color: black;
	font-weight: bold;
	width: 560px;
	padding-top: 40px;
	margin-bottom: 10px;
}

.a-discount p {
	font-family: Roboto Medium;
	font-size: 16px;
	line-height: 22px;
	color: black;
	font-weight: bold;
}





